In [1]:
# SH-I

In [2]:
import pandas as pd
import numpy as np

In [3]:
def ham_dist(s1, s2):
    
    assert len(s1) == len(s2)
    
    dist = sum(ch1 != ch2 for ch1, ch2 in zip(s1, s2))
    
    return dist

In [4]:
data = pd.read_csv('SS_unfiltered.txt', delim_whitespace = True, skiprows = [1])
data = data.reset_index()

In [5]:
samp = pd.read_csv('SS_unfiltered_sample.txt', delim_whitespace = True, skiprows = [1])
samp = samp.reset_index()
samp = samp.sort_values('SS2', ascending = False)
samp = samp.reset_index(drop = 'True')

In [6]:
samp

   index     Tag      X  SS1  SS2  SS3  SS4  SS5
0      0  AAAAAA  KKLLF    0   95    0    0    0
1      4  AAATAA  KKLLF    0    5    0    0    0
2      1  AAGGGA  KKLLF    0    0    0  100    0
3      2  AATTTA  KKLLF    0    0    0    0  100
4      3  AACCCA  KKLLF  100    0    0    0    0
5      5  ACGAAA  KKLLF    0    0  100    0    0

In [7]:
x = 1

In [8]:
seq_list1 = list(samp.loc[0])
seq_list2 = list(samp.loc[x])
seq_arr1 = np.array(seq_list1[3:])
seq_arr2 = np.array(seq_list2[3:])
nam_list = seq_list1[:3]
seq_list = list(seq_arr1 + seq_arr2)
fin_list = nam_list + seq_list
samp.loc[0] = fin_list
samp = samp.drop([x])
samp = samp.reset_index(drop = 'True')

In [9]:
samp

   index     Tag      X  SS1  SS2  SS3  SS4  SS5
0      0  AAAAAA  KKLLF    0  100    0    0    0
1      1  AAGGGA  KKLLF    0    0    0  100    0
2      2  AATTTA  KKLLF    0    0    0    0  100
3      3  AACCCA  KKLLF  100    0    0    0    0
4      5  ACGAAA  KKLLF    0    0  100    0    0