In [1]:
# SH-I

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('rfu_norm.csv')
data = data.round(decimals = 4)

In [6]:
def norm(arr):
    
    p = (arr - arr.min())
    q = arr.max() - arr.min()
    
    return p / q

In [4]:
def counter(glycan):
    
    fuc = glycan.count('Fuc')
    galnac = glycan.count('GalNAc')
    gal = glycan.count('Gal')
    glcnac = glycan.count('GlcNAc')
    glc = glycan.count('Glc')
    kdn = glycan.count('KDN')
    man = glycan.count('Man')
    neu59ac = glycan.count('Neu5,9Ac')
    neu5ac = glycan.count('Neu5Ac')
    neu5gc = glycan.count('Neu5Gc')
    
    gal = gal - galnac
    glc = glc - glcnac
    
    return np.array([fuc, galnac, gal, glcnac, glc, kdn, man, neu59ac, neu5ac, neu5gc])

In [9]:
mpl = pd.DataFrame()
mpl['Array'] = data['Structure on Masterlist'].apply(counter)
mpl['Value'] = data['MpL-1 (10ug/ml)']

In [10]:
mpl

                                Array   Value
0      [0, 0, 1, 0, 0, 0, 0, 0, 0, 0]  0.1782
1      [0, 0, 0, 0, 1, 0, 0, 0, 0, 0]  0.0994
2      [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]  0.1745
3      [0, 1, 0, 0, 0, 0, 0, 0, 0, 0]  0.1348
4      [0, 1, 0, 0, 0, 0, 0, 0, 0, 0]  0.1283
5      [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]  0.0377
6      [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]  0.2394
7      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  0.0428
8      [0, 0, 0, 0, 0, 0, 0, 0, 1, 0]  0.1577
9      [0, 0, 0, 0, 0, 0, 0, 0, 1, 0]  0.0995
10     [0, 0, 0, 0, 0, 0, 0, 0, 1, 0]  0.0000
11     [0, 0, 1, 0, 0, 0, 0, 0, 0, 0]  0.0913
12     [0, 0, 0, 0, 1, 0, 0, 0, 0, 0]  0.0378
13     [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]  0.0979
14     [0, 1, 0, 0, 0, 0, 0, 0, 0, 0]  0.0719
15     [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]  0.0312
16     [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]  0.1013
17     [0, 0, 0, 0, 1, 0, 0, 0, 0, 0]  0.0451
18     [0, 1, 2, 2, 0, 0, 0, 0, 0, 0]  0.0569
19     [0, 1, 2, 2, 0, 0, 0, 0, 0, 0]  0.0298
20     [0, 0, 0, 4, 0, 0, 0, 0, 0, 0]  0.0407
21     [0, 0, 1, 1, 0, 0, 0, 0, 0, 0]  0.2226
22     [0, 0, 1, 1, 0, 0, 0, 0, 0, 0]  0.0265
23     [1, 0, 1, 0, 1, 0, 0, 0, 0, 0]  0.3002
24     [0, 0, 1, 0, 1, 0, 0, 0, 0, 0]  0.0473
25     [0, 0, 1, 0, 1, 0, 0, 0, 0, 0]  0.0523
26     [0, 0, 1, 0, 1, 0, 0, 0, 0, 0]  0.0755
27     [1, 0, 1, 1, 0, 0, 0, 0, 0, 0]  0.1585
28     [0, 1, 1, 0, 0, 0, 0, 0, 0, 0]  0.0857
29     [0, 0, 1, 1, 0, 0, 0, 0, 0, 0]  0.0375
..                                ...     ...
580  [1, 0, 10, 12, 0, 0, 3, 0, 0, 0]  0.0294
581    [1, 0, 6, 7, 1, 0, 3, 0, 0, 0]  0.0900
582   [1, 0, 6, 10, 1, 0, 3, 0, 0, 0]  0.0280
583   [1, 0, 9, 10, 1, 0, 3, 0, 0, 0]  0.1185
584   [1, 0, 9, 13, 1, 0, 3, 0, 0, 0]  0.2037
585  [1, 0, 12, 13, 1, 0, 3, 0, 0, 0]  0.0966
586  [1, 0, 12, 16, 1, 0, 3, 0, 0, 0]  0.0837
587  [1, 0, 15, 16, 1, 0, 3, 0, 0, 0]  0.0655
588    [0, 1, 2, 2, 0, 0, 0, 0, 0, 0]  0.1375
589    [0, 1, 3, 2, 0, 0, 0, 0, 0, 0]  0.0588
590    [0, 1, 4, 4, 0, 0, 0, 0, 0, 0]  0.0641
591    [0, 1, 2, 2, 0, 0, 0, 0, 1, 0]  0.0436
592    [0, 1, 1, 2, 0, 0, 0, 0, 0, 0]  0.0246
593    [0, 1, 2, 2, 0, 0, 0, 0, 0, 0]  0.0054
594    [0, 1, 2, 4, 0, 0, 0, 0, 0, 0]  0.0245
595    [0, 1, 4, 4, 0, 0, 0, 0, 2, 0]  0.0598
596    [0, 1, 2, 2, 0, 0, 0, 0, 1, 0]  0.0643
597    [0, 1, 2, 3, 0, 0, 0, 0, 0, 0]  0.0325
598    [0, 1, 2, 1, 0, 0, 0, 0, 0, 0]  0.0473
599    [0, 1, 3, 2, 0, 0, 0, 0, 1, 0]  0.0400
600    [0, 1, 3, 2, 0, 0, 0, 0, 1, 0]  0.0760
601    [0, 1, 2, 1, 0, 0, 0, 0, 1, 0]  0.0547
602    [0, 0, 4, 6, 0, 0, 3, 0, 2, 0]  0.0515
603    [0, 1, 1, 1, 0, 0, 0, 0, 1, 0]  0.0189
604    [0, 1, 4, 4, 0, 0, 0, 0, 2, 0]  0.0267
605    [0, 0, 6, 8, 0, 0, 3, 0, 2, 0]  0.0373
606    [0, 0, 6, 8, 0, 0, 3, 0, 2, 0]  0.1363
607    [0, 0, 4, 6, 0, 0, 3, 0, 2, 0]  0.0847
608    [1, 0, 0, 1, 0, 0, 0, 0, 0, 0]  0.0969
609    [0, 1, 2, 0, 1, 0, 0, 0, 3, 0]  0.1100

[610 rows x 2 columns]